

.questions{
  text-align: left;
  
  width: auto;
  height: auto;
  border-bottom: 1px solid #DBDEF0;
  margin: 6px;
}
.questions p{
  margin: 0px;
  width: auto;
  height: auto;
  font-family: "karla", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color:#293264 ;
  
}

.option-btn {
  display: inline-block;
  text-align: center;
  margin: 5px;
  width: auto;
  height: auto;
  padding: 0.5em 0.5em;
  border: 0.5px solid #DBDEF0;
  border-radius: 7.94px;
  cursor: pointer;
  color: #293264;
  font-weight: 700;
  
}

.option-btn.selected {

  background-color:#D6DBF5;
}

.option-btn.correct {
  background-color: #94D7A2;
  color: white;
}

.option-btn.wrong {
  background-color: #F8BCBC; 
  color: white;
}
