.questions{
  text-align: center;
  width: auto;
  height: auto;
  border: 1px solid black;
}
.questions p{
  margin: 0px;
  width: auto;
  height: auto;
  font-family: "karla", sans-serif;
  font-weight: 700;
  font-size: 16px;
  
}
 /* button{
  width: auto;
  height: auto;
  background-color:#ffffff;
  border-radius: 7.94px;
  border: none;
  padding: 0.4em 0.5em;
  margin: 0.5em;
} */
/* .option-btn {
  margin: 4px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
} */






.option-btn {
  margin: 4px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  cursor: pointer;
}

.option-btn.selected {
  display:disabled;
  background-color:#D6DBF5;
}

.option-btn.correct {
  background-color: #4caf50; /* green */
  color: white;
}

.option-btn.wrong {
  background-color: #f44336; /* red */
  color: white;
}
